:host {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .left-content {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .right-content {
    display: flex;
    flex-direction: column;
    width: 69%;
  }
}
